* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #3e8e72;
  margin-bottom: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  font-family: "Nunito", sans-serif;
}

.calculator {
  width: 300px;
  background: 6BBF9B;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

#display {
  height: 80px;
  margin-bottom: 20px;
  padding: 16;
  background: #e8f5f0;
  border-radius: 12px;
  font-size: 2.5rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  height: 60px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  background: #f1f3f5;
  transition: 0.15s;
}

#clear {
  background: #3e8e72;
  color: white;
  grid-column: span 2;
}

#backspace {
  background: #3e8e72;
  color: white;
}

#equals {
  grid-column: span 2;
}
